{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">Add Scorecard</h1>
            <form action="#" method="post">
                <div class="form-group">
                    <label for="teamName">Team Name</label>
                    <input type="text" class="form-control" id="teamName" name="teamName" required>
                </div>
                {% for hole in range(1, 19) %}
                <div class="form-group">
                    <label for="hole{{ hole }}">Hole {{ hole }}</label>
                    <input type="number" class="form-control" id="hole{{ hole }}" name="hole{{ hole }}" required>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}